:root {
  --verde-pastel-claro: #CDE8D6;
  --verde-pastel-medio: #A8E6CF;
  --verde-pastel-profundo: #78C2A7;
  --verde-bosque-pastel: #4F7D64; /* Verde oscuro resaltante */
  --verde-pino-profundo: #2E5941; /* Verde más oscuro */
  --verde-claro: #eafaee;

  --amarillo-mostaza-pastel: #E6C56E; /* Color resaltante */
  --amarillo-miel: #FBB917;
  --amarillo-ambar: #FFBF00;
  --amarillo-crema: #FFFDD0;

  /* Colores de texto */
  --texto-oscuro: #333;
  --texto-claro: #fff;
}

body {
  font-family: 'system-ui', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--verde-claro);
  scroll-behavior: smooth; /* Comportamiento de desplazamiento suave */
}



/* Diseño Menu Icono Hamburguesa */
.menu-toggle {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 40px;
  height: 35px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  position: fixed;  /* Cambiado a fixed */
  top: 20px;  /* Ajusta este valor para cambiar la distancia desde el borde superior */
  right: 20px;  /* Ajusta este valor para cambiar la distancia desde el borde derecho */
  z-index: 1000;  /* Para asegurarte de que esté por encima de otros elementos */
  
}
.menu-toggle span:first-child {
  width: 35px;
  height: 4px;
  background-color: #333;
  border-radius: 2px;
  transition: all 0.3s ease;
  box-shadow: 0 2px 0px 0px rgba(0, 0, 0, 0.1);
}
.menu-toggle span {
  width: 25px;
  height: 4px;
  background-color: #333;
  border-radius: 2px;
  transition: all 0.3s ease;
  box-shadow: 0 2px 0px 0px rgba(0, 0, 0, 0.1);
}
.menu-toggle span:last-child {
  width: 15px;
  height: 4px;
  background-color: #333;
  border-radius: 2px;
  transition: all 0.3s ease;
  box-shadow: 0 2px 0px 0px rgba(0, 0, 0, 0.1);
}

/* Diseño de cerrar Menu Hamburgesa */
.x-button {
  display: none;
  position: fixed;
  top: 20px;  /* Ajusta este valor para cambiar la distancia desde el borde superior */
  right: 28px;
  width: 40px;
  height: 35px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 1999;
}

.x-line {
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #333;
  border-radius: 2px;
}

.x-line:first-child {
  transform: rotate(45deg);
  box-shadow: 0 2px 0px 0px rgba(0, 0, 0, 0.1);
}

.x-line:last-child {
  transform: rotate(-45deg);
  box-shadow: 0 2px 0px 0px rgba(0, 0, 0, 0.1);

}

/* ---------------------------------- */

.logo {
  display: inline-block;
  padding: 30px;
  font-size: larger;
}
.logo{
  font-weight: 700;
  color: var(--amarillo-mostaza-pastel);
}
.logo span {
  font-weight: 600;
}

/* Nav Links */
.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  background: var(--verde-pino-profundo);
  position: fixed;  /* Cambiado a fixed */
  top: 80px;  /* Ajusta este valor si es necesario */
  right: 30px;  /* Ajusta este valor si es necesario */
  padding: 42px;
  border-radius: 15px;
  display: none;
  z-index: 999;  /* Para asegurarte de que esté por encima de otros elementos */
  box-shadow: 0 4px 0px 0px rgba(0, 0, 0, 0.600);
}
.menu a {
  color: var(--verde-pastel-claro);
  text-decoration: none;
  padding: 15px;
  border-bottom: 1px solid var(--verde-pastel-claro);
  cursor: pointer;
  font-weight: 500;
}

.menu a:hover{
  background: var(--verde-bosque-pastel);
  padding: 15px;
  border-radius: 6px;
}
.menu a:last-child {
  border-bottom: none;
}

.menu.active {
  display: flex;
}

/*--------------------------------*/

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: var(--verde-bosque-pastel);
  border-radius: 4px;
  box-shadow: 0 2px 0px 0px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin: 10px;
  text-align: center;
}

.search-input {
  padding: 10px 18px;
  border: 2px solid var(--verde-pino-profundo);
  border-radius: 5px;
  transition: border-color 0.3s;
}

.search-input:focus {
  border-color: var(--verde-pastel-profundo);
}

.search-button {
  background-color: var(--amarillo-ambar);
  color: white;
  padding: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-button:hover {
  background-color: var(--verde-pino-profundo);
}

.search-button:focus {
  outline: none;
}

/*---------------------------------*/


/* Carrusel de Imagenes */


.glide {
  padding-top: 40px;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 600px;
  margin: auto;

}
.glide__slide img {
  width: 100%;
  border-radius: 6px;
  box-shadow: 0 6px 0px 0px rgba(0, 0, 0, 0.5);
}


.glide__slide {
  position: relative;
}
.text-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; 
  background: rgba(0, 0, 0, 0.7); /* Gradiente de difuminado hacia arriba */ 
  color: var(--texto-claro);
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* ------------------------------------ */

/* Main Contenido */

main {
  padding-top: 60px;
}


/*--------------------------------------*/

/* Secciones*/

/* ---------------------------------------- */

.section-info {
  padding: 20px;
  margin: 20px;
  background: var(--verde-pino-profundo);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-weight: 500;
}

.section-info article {
  padding: 20px;
  text-align: center;
  color: var(--verde-pastel-medio);
}

.section-info article .info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.section-info article .info h2 {
  font-weight: 800;
}


.section-info article .info img {
  background: var(--verde-pastel-claro);
  padding: 12px;
  border-radius: 99px;
}
/* ---------------------------------------- */

.section-mini-cards{
  display: flex;
  flex-direction: column; /* Dos columnas de igual tamaño */
  gap: 20px; /* Espacio entre las tarjetas */
  padding: 40px;
}

.section-mini-cards article {
  text-align: center;
  background: var(--verde-bosque-pastel);
  padding: 60px;
  border-radius: 8px;
box-shadow: 0 4px 0px 0px rgba(0, 0, 0, 0.1);}

.icon-svg{
  background: var(--verde-claro);
  padding: 28px;
  border-radius: 99px;
  box-shadow: 0 4px 0px 0px rgba(0, 0, 0, 0.1);
}

.section-mini-cards article p{
  color: var(--verde-pastel-claro);
}

/* ---------------------------------------- */

.section-cards {
  display: flex;
  flex-direction: column;
  gap: 6px;
}


.section-cards article {
  background-color: var(--verde-bosque-pastel);
  border-radius: 8px;
  padding: 30px;
  margin: 25px;
  box-shadow: 0 4px 0px 0px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.section-cards article img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.section-cards article h3 {
  margin-top: 15px;
  font-size: 24px;
  color: var(--verde-claro);
}

.section-cards article p {
  font-size: 16px;
  color: var(--verde-claro);
}

.btn-info {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 60px;
  background-color: var(--amarillo-ambar);
  color: var(--texto-claro);
  text-decoration: none;
  border-radius: 4px;
}

.section-cards article .btn-info:hover {
  background-color: var(--verde-pastel-medio);
}

/* ---------------------------------------- */

.sobre-nosotros-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--verde-pino-profundo);
  padding: 40px;
  text-align: center;
  margin: 30px 0;
  color: var(--verde-pastel-claro);
}

.sobre-nosotros-info p {
  font-weight: 600;
  color: var(--verde-claro);
}

.borde-chico{
  width: 22%; /* Grosor de la línea */
  height: 3px; /* Altura de la línea */
  background-color: var(--verde-pastel-claro); /* Color de la línea */
  border-radius: 99px;
}

.borde-grande{
  width: 100%; /* Grosor de la línea */
  height: 1px; /* Altura de la línea */
  background-color: var(--verde-pastel-claro); /* Color de la línea */
  margin: 20px;
}


/*-------------------------------------------*/

.section-contacto{
  margin: 60px 10px;
}

#seccion3 {
  background-color: var(--verde-pastel-claro);
  text-align: center;
}

h2 {
  color: var(--verde-bosque-pastel);
  font-size: 2em;
  margin-bottom: 20px;
  text-align: center;
}

.formulario-contacto {
  background-color: var(--verde-pastel-medio);
  padding: 20px;
  border-radius: 10px;
  margin: 0 auto;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  font-weight: bold;
  color: var(--verde-pino-profundo);
}

input, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--verde-pino-profundo);
  border-radius: 5px;
  background-color: var(--verde-claro);
  font-size: 1em;
}

form button {
  background-color: var(--verde-bosque-pastel);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1.2em;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

form button:hover {
  background-color: var(--verde-pino-profundo);
}



/*-------------------------------------------*/
footer {
  background: var(--verde-pino-profundo);
  padding: 20px;
  height: 120px;
}

footer nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

footer nav a{
  background: var(--verde-bosque-pastel);
  padding: 8px;
  text-decoration: none;
  color: var(--verde-pastel-claro);
  border-radius: 4px;
  font-weight: 600;
}
